# Python-related
*.pyc
__pycache__/
*.pyo

# Django-related
db.sqlite3
env/
*.env

# Virtual Environment
venv/
.env/

# Static and Media files (optional if generated)
media/

# Editor and System files
.DS_Store
*.log
*.swp
.idea/
.vscode/
